:root {
  --brand-color: #099ddd;
  --text-color: #333;
  --link-color: #1976d2;
  --border-color: #dddddd;
}

html {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.6;
  color: var(--text-color);
  background-color: #fff;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 1rem;
  line-height: 1.5;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
}

h4 {
  margin-bottom: 0.75rem;
}

a {
  color: var(--link-color);
}

a:hover {
  filter: saturate(4);
}

header {
  margin-top: 4rem;
}

@media (max-width: 480px) {
  header {
    margin-top: 2rem;
  }
}

nav {
  font-size: 1.15rem;
}

section {
  max-width: 300px;
  margin-top: 3rem;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1.5rem;
  border-top: 1px solid var(--border-color);
}

footer {
  margin-top: 2.5rem;
  font-size: 0.875rem;
}

@media (max-width: 480px) {
  nav {
    margin-top: 1.5rem;
  }
}

nav span {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  font-size: 1rem;
}

.container {
  margin: 0 auto;
  text-align: center;
}

.logo-image {
  height: 120px;
  object-fit: scale-down;
}

.logo {
  margin-top: -1.25rem;
  margin-bottom: 0;
  font-family: "Roboto Slab", serif;
  font-size: 7.5rem;
  font-weight: 300;
  color: var(--brand-color);
}

@media (max-width: 480px) {
  .logo-image {
    height: 100px;
  }

  .logo {
    margin-top: -1rem;
    font-size: 6rem;
  }
}

.tagline {
  font-size: 1.75rem;
  margin-top: 2.25rem;
  margin-bottom: 1rem;
}

@media (max-width: 480px) {
  .tagline {
    margin-top: 1.8rem;
    font-size: 1.5rem;
  }

  .tagline span {
    display: block;
  }
}
